<table border=1>
	<tr>
		<th>Request name</th>
		<th>Passed/Failed</th>
		<th>Status Code</th>
	</tr>
	<tbody>
		{{#each .}}
		<tr>
		<td><a href="#{{@key}}-request-details">{{@key}}</a></td>
		{{#if this.passed}}
			<td class="test-passed">Passed </td>
		{{else}}
			<td class="test-failed">Failed </td>
		{{/if}}
		<td>{{status}}</td>
		</tr>
		{{/each}}
	</tbody>
</table>