{{#each .}}
	<hr />
	<div id="{{@key}}-request-details">
		<div> 
			<h3>Name: {{@key}}</h3>
		</div>
		<div>
			<h4>Response</h4>
			<div>
				<code>
					{{response}}
				</code>
			</div>
		</div>
		<div>
			<table border="1">
				<tr>
					<th>Test Name </th>
					<th>Passed/Failed </th>
					<th>Details </th>
				</tr>
				{{#each this.tests}}
					{{> test-details .}}
				{{/each}}
			</table>
		</div>
	</div>
{{/each}}