<html>
	<head>
		<style>
			.test-failed {color:red; font-weight:bold;}
			.test-passed {color:green; font-weight:bold;}
		</style>
		<script type="text/javascript">
			function fold(){
				alert('Fold!');
			}
		</script>
	</head>
	<body>
		<div>
			<div>
				<h1>Requests</h1>
			</div>
			<div>
				{{> request-summary .}}
			</div>
		</div>
		<div>
			<div>
				<h1>Request Tests</h1>
			</div>
			<div>
				{{> request-details .}}
			</div>
		</div>
	</body>	
</html>